@media (max-width: 768px) {
    #head-div {
        right: 28%;
        min-width: 128%;
        max-width: 128%;
        min-height: 180px;
    }

    #bg-right-top,
    #bg-left-top {
        min-height: 245px;
        max-height: 245px;
    }

    #profile-image img {
        min-width: 140px;
        max-width: 140px;
        min-height: 140px;
        max-height: 140px;
    }

    #head-content {
        min-height: 140px;
        max-height: 140px;
    }

    #head-name {
        /* font-size: 15px; */
        margin-top: -25px;
        margin-bottom: -21px;
        font-size: 28px;
        font-weight: bolder;
    }

    #head-proffesion {
        margin-bottom: -5px;
        font-size: 14px;
        font-weight: bold;
    }

    #head-details {
        font-size: 11px;
    }


    #bg-right-low,
    #bg-left-low {
        /* margin-top: -3px; */
        min-height: 515px;
    }

    .container-header {
        font-size: 21px;
    }

    .contact-info-logo img {
        min-width: 25px;
        max-width: 25px;
        min-height: 25px;
        max-height: 25px;
    }
    .contact-info-text p {
        font-size: 10px;
    }

}