body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #002060;
    color: #ffffff;
    text-align: center;
    padding: 1em 0;
    max-height: 150px;
    display: flex;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}

h2 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: rgb(6, 10, 116);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.left {
    /* margin-bottom: 20px;/ */
    min-width: 37%;
    max-width: 37%;
}

.under-line {
    margin-top: -10px;
    background-color: #002060;
    min-width: 100%;
    min-height: 6px;
}

.contact-list {
    /* background-color: #002060; */
    min-width: 80%;
    max-width: 90%;
    min-height: 40px;
    margin: 3% auto;
    padding: 2% 1%;
    display: flex;
}
.contact-logo {
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
    /* background-image: url(Pic_shrey.jpeg); */
    background-size: 100%;
    border-radius: 100%;
    background-repeat: no-repeat;
    margin-right: 3%;
    /* margin-left: auto; */
    /* position: relative; */

}
#w-image {
    background-image: url(./images/WhatsApp_icon.png);
}
#c-image {
    background-image: url(./images/Call-Transparent-PNG.png);
}
#e-image {
    background-image: url(./images/email.png);
}
#g-image {
    background-image: url(./images/github.png);
}
#l-image {
    background-image: url(./images/LinkedIn_logo_initials.png);
}
.contact-details {
    margin: auto 0% ;
    /* margin-left: 7%; */
    display: inline-block;
    /* padding: auto; */
    /* background-color: #333; */
}
#image {
    min-width: 140px;
    max-width: 140px;
    min-height: 140px;
    background-image: url(./images/Pic_shrey.jpeg);
    background-size: 100%;
    border-radius: 100%;
    background-repeat: no-repeat;
    margin-right: 3%;
    margin-left: auto;
    /* position: relative; */

}

#details {
    margin-right: auto;
    margin-left: 7%;
}
header a {
    color: rgb(178, 85, 85);
    font-size: 12px;
    margin: auto;
}

.right {
    /* margin-bottom: 20px;/ */
    min-width: 60%;
    max-width: 60%;
    margin-left: 3%;
}
.tiles{
    min-width: 100%;
    margin-bottom: 7%;
}
.title {
    font-weight: bold;
    padding-left: 5%;
}
.content {
    /* border: 1px solid #cccccc; */
    padding: 0px 7%;
}

.bottom {
    /* margin-bottom: 20px;/ */
    min-width: 100%;
    max-width: 60%;
    /* margin-left: 3%; */
}

#project {
    min-width: 90%;
    background-color: #f1f1f1;
    min-height: 60px;
    margin: 2% auto;
    box-shadow: 0px 0px 4px 1px  rgb(65, 65, 65);
    display: flex;
    flex-wrap: wrap;
    scroll-behavior: smooth;
}
.project-items {
    min-width: 26%;
    background-color: #cdcdcd;
    min-height: 210px;
    margin: 1% auto;
    box-shadow: 0px 0px 4px 1px  rgb(65, 65, 65);
    border-radius: 4%;
}
.project-item-image {
    min-width: 100%;
    background-color: #ffffff;
    min-height: 150px;
    /* margin: 1% auto; */
    border-bottom: 2px dotted black;
    border-radius: 4% 4% 0% 0%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.project-item-dets {
    min-width: 26%;
    background-color: #ffffff;
    min-height: 60px;
    padding-top: 5%;
    padding-left: 3%;
    line-height: 33%;
    border-radius: 0% 0% 4% 4%;
}
.project-item-dets p {
    margin-left: 5%;
}

#whatsapp-clone {
    background-image: url(./images/WhatsApp_icon.png);
}
#To-Do {
    background-image: url(./images/todo.png);
}
#keep-note {
    background-image: url(./images/keep_notes.png);
}
#Web-based-resume {
    background-image: url(./images/resume.png);
}
@media (max-width: 768px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 13px;
    }
    a {
        font-size: 13px;
    }

    /* Reduce margins and padding for sections */
    section {
        margin-bottom: 20px;
    }

    #image {
        min-width: 100px;
        max-width: 140px;
        min-height: 100px;
        /* background-image: url(Pic_shrey.jpeg);
        background-size: 100%;
        border-radius: 100%;
        background-repeat: no-repeat;
        */
        margin-right: 8%;
        margin-left: auto;
        /* position: relative; */

    }

    #details {
        margin-right: auto;
        /* margin-left: 5%; */
    }

    /* Reduce border thickness for sections */
    section#education,
    section#certifications,
    section#projects,
    section#skills,
    section#additional {
        border-top: 1px solid #333;
        padding-top: 5px;
    }
}